/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),

=======

        url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
body{


body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}
.cs1{
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ahmad's css */
.hero__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site__main{
    background-image: url(../images/Ahmadsimg/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: 100% ,100vh;
}
.hero__item{
    padding-right: 52px;
    margin-top: 39px;
    margin-bottom: 38px;
}
.hero__itam4{
    padding-right: 167px; 
}
.hero__list{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 123px;
    margin-top: 40px;
}
.logo__img{
    padding-left: 55px;
    padding-top: 64px;
}
.hero__text{
=======
/* Jack's Css start */
.jacks-sect{
    background-image: url("../images/JacksImg/bg.png");
    background-size: cover;
    
}

.top-nav{
    padding: 40px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.jacks-list{
    position: relative;
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    padding-left: 80px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
.sp{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
}
.jacks-list-item{
    font-weight: 200;
    padding: 30px 0;
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
}
span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    padding-right: 14px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper__title{
    padding-top: 110px;
}
.text__title{
    padding-bottom: 80px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text__span{

    
    color: #FFFFFF;
    
}
.df{
    font-weight: 200;
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    
    color: #FFFFFF;
    
}
.jacks-list-item:hover{
    border-bottom: 3px solid white;
}

.middle-info{
    width: 450px;
    padding: 250px 0 160px;
    position: relative;
    gap: 24px;
}

h5{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 4.725px;
    color: #D0D6F9;
}
.h55{
    font-family: 'Bellefair';
    position: absolute;
    padding: 120px 64px;
    left: 190%;
    top: 50%;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
    border-radius: 50%;
}
.p{
    /* font-family: 'Barlow'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}
.h1{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}

/* Jack's Css end */





/* Ozodbek's Css start */
.second__page{
    background-image: url(../images/Ozodbek.images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.second__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second__logo{
    margin: 55px 0 0 64px;
    padding: 0;
    display: inline-block;
}

.second__nav{
    color: #ffffff;
    display: flex;
    height: 96px;
    width: 830px;
    margin-top:37px;
    margin-left: 600px;
    margin-right: 0;
    padding: 38px 167px 38px 123px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);

    justify-content: space-between;
    align-items:center;
}

.nav__home{
    height: 19px;
    top: calc(50% - 19px/2);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    /* color:#ffffff;
    margin-left: 12px; */
}

.nav__destination{
    height: 19px;
    top: calc(50% - 19px/2);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    /* color:#ffffff;
    margin-left: 12px; */
}

.nav__crew{
    height: 19px;
    top: calc(50% - 19px/2);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    /* color:#ffffff;
    margin-left: 12px; */
}

.nav__technology{
    height: 19px;
    top: calc(50% - 19px/2);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    /* color:#ffffff;
    margin-left: 12px; */
}


.second__number{
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 166px;
    margin-top: 76px;
    margin-right: 0;
    height: 34px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    opacity: 0.25;
}

.second__title{
    margin: 0;
    padding: 0;
    display: flex;
    /* margin-top: 76px; */
    margin-left: 24px;
    height: 34px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;

}










/* Ozodbek's Css end */









/* Ahmad's Css start */

/* Ahmad's Css end */
/* Temurbek's Css start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.temin__container {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.temin__body {
    background-image: url('../imgs/bg.jpg');
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url(../fonts/barlow-condensed-v12-latin-regular.woff);
}

@font-face {
    font-family: 'Bellefair';
    src: url(../fonts/bellefair-v14-latin-regular.woff);
}

.temin {
    padding: 40px 0 0 0;
}

.temin__nav {
    justify-content: space-between;
    padding-left: 55px;
}

.temin__list {
    padding: 0 166px 0 123px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    position: relative;
}

.temin__item {
    margin-right: 50px;
}

.temin__item:last-child {
    margin-right: 0;
}

.temin__line {

    position: absolute;
    top: 50%;
    right: calc(100% - 40px);
    border: none;
    width: 473px;
    max-width: 100%;
    border: 1px solid wheat;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.temin__link {
    padding: 39px 0 35px;
    display: inline-block;
    font-family: "Barlow Condensed";
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

.temin__link:hover {
    border-bottom: 3px solid #fff;
}

.temin__span {
    font-weight: 700;
    margin-right: 11px;
}

.temin__active {
    border-bottom: 3px solid #fff;
    padding-bottom: 35px;
}

.technalogy {
    margin-top: 40px;
}

.technalogy__content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 80px 108px;
    margin-top: 26px;
}

.technalogy__span {
    margin-right: 24px;
    font-family: "Barlow Condensed";
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;

    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.wrappper__list{
    padding-top: 270px;
    padding-bottom: 200px;
}
.list{
    display: flex;
    align-items: center;
    gap: 35px;
}
.item > a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;   
    color: #FFFFFF;
}
.title{
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
    margin-top: 37px;
    margin-bottom: 14px;
}
.text{
    max-width: 444px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    margin-bottom: 54px;
}
.div__button{
    border: 1px solid; 
    background: #383B4B;
}
/* ahmad's css end */
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.technalogy__title {
    font-family: "Barlow Condensed";
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 26px;
}

.technalogy__list {
    flex-direction: column;
    gap: 64px;
    margin-top: 120px;
}

.technalogy__link {
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 21px 32px;
    font-family: "Bellefair";
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all 0.3s;
}

.technalogy__link:hover {
    color: #0b0d17;
    background-color: #ffffff;
    transition: all 0.3s;
}

.technalogy__box {
    margin-top: 120px;
    margin-left: 80px;
    margin: 108px;
}

.technalogy__commander {
    margin-bottom: 11px;
    font-family: "Barlow Condensed";
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #d0d6f9;
}

.technalogy__titleh2 {
    margin-bottom: 17px;
    font-family: "Bellefair";
    font-size: 56px;
    line-height: 64px;
    color: #ffffff;
}

.technalogy__subtitle {
    font-family: "Barlow";
    font-size: 18px;
    line-height: 32px;
    color: #d0d6f9;
    width: 470px;
    max-width: 100%;
}

.technalogy__img {
    position: relative;
    left: 30px;
}













/* Temurbek's Css end */
